@using Lifestyle.Models
@model Lifestyle.Models.ProductModel

@{
    Layout = "~/Views/Shared/Layout_2.cshtml";
}

<head>
    <title>Диетический дневник</title>
    <link href="@Url.Content("~/Content/Style/DaybookIndex.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Калории'],
                ['Требуемые калории', @ViewBag.Calories],
                ['Текущие калории', @ViewBag.c],
            ]);

            var options = {
                title: 'Калории',
                pieHole: 0.4,

            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'БЖУ соотношение'],
                ['Белки', @ViewBag.p],
                ['Жиры', @ViewBag.f],
                ['Углеводы', @ViewBag.car],

            ]);

            var options = {
                title: 'БЖУ соотношение',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
        }
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="container center-block" style="background-color:rgb(0, 0, 0, 0.8); margin-top:30px ; border-radius:20px">
    <div class="lead text-center" style="margin-bottom: 16px;">
        <h2>Диетический дневник</h2>
        <h4>
            Диетический дневник - один из способов контроля за своим питанием, который выражается в фиксировании всей потребляемой пищи в специальном дневнике.
            Дневник – это та «информационная база», на основе которой вы можете составить индивидуальную диету. Не самостоятельно, конечно, а с помощью нашего сайта.
        </h4>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>Необходимые калории: @ViewBag.Calories</p>

            <table class="simple-table" id="productTable">
                <tr>
                    <td>Название</td>
                    <td>Граммы</td>
                    <td>Калории</td>
                    <td>Жиры</td>
                    <td>Белки</td>
                    <td>Углеводы</td>
                </tr>
                @foreach (var g in ViewBag.Daybook)
                {
                    if (g.Custom == false)
                    {
                        foreach (var item in ViewBag.dp)
                        {
                            if (g.ProductId == item.Id)
                            {
                                <tr>
                                    <td width="200">@item.Name</td>
                                    <td width="50">@g.Gram</td>
                                    <td width="50">@((double)item.Calories * g.Gram / 100)</td>
                                    <td width="50">@((double)item.Fats * g.Gram / 100)</td>
                                    <td width="50">@((double)item.Protein * g.Gram / 100)</td>
                                    <td width="50">@((double)item.Carbs * g.Gram / 100)</td>
                                    <td> <a href="#"  onclick="delproduct('DelProduct/@g.Id', 'POST');"> Удалить </a> </td>
                                </tr>
                                break;
                            }
                        }
                    }
                    else
                    {
                        foreach (var item in ViewBag.cp)
                        {
                            if (g.ProductId == item.Id)
                            {
                                <tr>
                                    <td width="200">@item.Name</td>
                                    <td width="50">@g.Gram</td>
                                    <td width="50">@((double)item.Calories * g.Gram / 100)</td>
                                    <td width="50">@((double)item.Fats * g.Gram / 100)</td>
                                    <td width="50">@((double)item.Protein * g.Gram / 100)</td>
                                    <td width="50">@((double)item.Carbs * g.Gram / 100)</td>
                                    <td> <a href="#" id="her1" onclick="delproduct('DelProduct/@g.Id');"> Удалить </a> </td>
                                </tr>
                                break;
                            }
                        }
                    }
                }
            </table>

            <button type="button"  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="ADDDEFAULT()">
                ADD DEFAULT
            </button>

            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="ADDCUSTOM()">
                ADD CUSTOM
            </button>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color:red">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel" style="color:black">Добавление продукта</h4>
                        </div>
                        <div class="modal-body" style="color:black">

                            <select data-val="true" data-val-number="Значением поля Id должно быть число." data-val-required="Требуется поле Id." htmlattributes="{ class = multiple }" id="DefaultProducts_Id" multiple="multiple" name="DefaultProducts.Id" style="display: initial;">
                                @foreach (var defproduct in ViewBag.Product)
                                {
                                    <option value="@defproduct.Id">@defproduct.Name</option>
                                }
                                @*<option value="1">Гречневая каша</option>
            <option value="2">Яблоко</option>
            <option value="3">Банан</option>
            <option value="4">Морковь</option>
            <option value="5">Молоко</option>*@
                            </select>

                            @*@Html.ListBoxFor(m => m.DefaultProducts.Id, ViewBag.Product as SelectList, new { htmlAttributes = new { @class = "multiple" } })*@

                            @*@Html.ListBoxFor(m => m.CustomProducts.Id, ViewBag.Product_2 as SelectList, new { htmlAttributes = new { @class = "multiple hiddencl" } })*@




                            <input type="hidden" name="custom" value="false" /><br />
                            <input type="number" name="gram" min="1" value="1" id="getgram" /><br />
                            <select data-val="true" data-val-number="Значением поля Id должно быть число." data-val-required="Требуется поле Id." htmlAttributes="{ class = multiple hiddencl }" id="CustomProducts_Id" multiple="multiple" name="CustomProducts.Id">
                                @foreach (var cusproduct in ViewBag.Product_2)
                                {
                                    <option value="@cusproduct.Id">@cusproduct.Name</option>
                                }
                            </select>
                        </div>

                        <script>
                            function ADDDEFAULT() {
                                document.querySelectorAll("input[name=custom]")[0].value = false;
                                document.querySelectorAll("#DefaultProducts_Id")[0].style.display = "initial";
                                document.querySelectorAll("#CustomProducts_Id")[0].style.display = "none";
                            }

                            function ADDCUSTOM() {
                                document.querySelectorAll("input[name=custom]")[0].value = true;
                                document.querySelectorAll("#DefaultProducts_Id")[0].style.display = "none";
                                document.querySelectorAll("#CustomProducts_Id")[0].style.display = "initial";
                            }

                            function delproduct(path) {
                                var form = document.createElement("form");
                                form.method = "post";
                                form.action = path;
                                document.body.appendChild(form);
                                form.submit();
                            }

                            function getC() {
                                if (document.querySelectorAll("input[name=custom]")[0].value)
                                    var selectValue = document.getElementById("CustomProducts_Id").value
                                else
                                    var selectValue = document.getElementById("DefaultProducts_Id").value
                                var gram = document.getElementById("getgram").value;
                                    $.ajax({
                                        url: "/demo?id=" + selectValue,
                                        success: function (response) {
                                            $('#productTable').append('<tr><td>' +
                                                response["bazName"] + '</td><td>' + gram +
                                                '</td><td>' + response["bazCalories"] +
                                                '</td><td>' + response["bazFats"] + '</td><td>'
                                                + response["bazProtein"] + '</td><td>' + response["bazCarbs"]
                                                + "</td><td> <a href='#' id='her1' onclick='delproduct('DelProduct/testId')'> Удалить </a></td></tr>");
                                        }
                                    })
                            }
                        </script>

                        <div class="modal-footer" style="color:black">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="button" name="DefaultProductsAddButton" class="btn btn-success" onclick="getC()">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container center-block" style="background-color:rgb(255, 255, 255, 0.8); margin-top:30px ; border-radius:20px">
    <div class="col-sm-6">
        <div id="donutchart"></div>
    </div>
    <div class="col-sm-6">
        <div id="piechart_3d"></div>
    </div>
</div>
