@using Lifestyle.Models
@model Lifestyle.Models.ProductModel

@{
    Layout = "~/Views/Shared/Layout_2.cshtml";
}

<head>
    <title>Диетический дневник</title>
    <link href="@Url.Content("~/Content/Style/DaybookIndex.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var chart1;
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var required = @ViewBag.Calories;
            var current = @ViewBag.c;
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Калории'],
                ['Требуемые калории', required],
                ['Текущие калории', current],
            ]);

            var options = {
                title: 'Калории',
                pieHole: 0.4,
            };

            chart1 = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart1.draw(data, options);
        }
    </script>
    <script type="text/javascript">
        var chart2;
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'БЖУ соотношение'],
                ['Белки', @ViewBag.p],
                ['Жиры', @ViewBag.f],
                ['Углеводы', @ViewBag.car],

            ]);

            var options = {
                title: 'БЖУ соотношение',
                is3D: true,
            };

            chart2 = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart2.draw(data, options);
        }
    </script>
</head>

<div class="container center-block" style="background-color:rgb(0, 0, 0, 0.8); margin-top:30px ; border-radius:20px">
    <div class="lead text-center" style="margin-bottom: 16px;">
        <h2>Диетический дневник</h2>
        <h4>
            Диетический дневник - один из способов контроля за своим питанием, который выражается в фиксировании всей потребляемой пищи в специальном дневнике.
            Дневник – это та «информационная база», на основе которой вы можете составить индивидуальную диету. Не самостоятельно, конечно, а с помощью нашего сайта.
        </h4>

        <p id="requiredCal">Необходимые калории: @ViewBag.Calories</p>

        <table class="simple-table" id="productTable">
            <tr>
                <td>Название</td>
                <td>Граммы</td>
                <td>Калории</td>
                <td>Жиры</td>
                <td>Белки</td>
                <td>Углеводы</td>
            </tr>
            @foreach (var g in ViewBag.Daybook)
            {
                if (g.Custom == false)
                {
                    foreach (var item in ViewBag.dp)
                    {
                        if (g.ProductId == item.Id)
                        {
                            <tr>
                                <td width="200">@item.Name</td>
                                <td width="50">@g.Gram</td>
                                <td width="50">@(item.Calories * g.Gram / 100)</td>
                                <td width="50">@(item.Fats * g.Gram / 100)</td>
                                <td width="50">@(item.Protein * g.Gram / 100)</td>
                                <td width="50">@(item.Carbs * g.Gram / 100)</td>
                                <td class="deleteRow" onclick="DeleteProduct(@g.Id)"> <a href="#"> Удалить </a> </td>
                            </tr>
                            break;
                        }
                    }
                }
                else
                {
                    foreach (var item in ViewBag.cp)
                    {
                        if (g.ProductId == item.Id)
                        {
                            <tr>
                                <td width="200">@item.Name</td>
                                <td width="50">@g.Gram</td>
                                <td width="50">@(item.Calories * g.Gram / 100)</td>
                                <td width="50">@(item.Fats * g.Gram / 100)</td>
                                <td width="50">@(item.Protein * g.Gram / 100)</td>
                                <td width="50">@(item.Carbs * g.Gram / 100)</td>
                                <td class="deleteRow" onclick="DeleteProduct(@g.Id)"> <a href="#"> Удалить </a> </td>
                            </tr>
                            break;
                        }
                    }
                }
            }
        </table>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="ADDDEFAULT()">
            ADD DEFAULT
        </button>

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="ADDCUSTOM()">
            ADD CUSTOM
        </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color:red">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel" style="color:black">Добавление продукта</h4>
                    </div>
                    <div class="modal-body" style="color:black">

                        <select data-val="true" id="DefaultProducts_Id" multiple="multiple">
                            @foreach (var defproduct in ViewBag.DefaultProducts)
                            {
                                <option value="@defproduct.Id">@defproduct.Name</option>
                            }
                        </select>

                        <input type="hidden" name="custom" value="false" /><br />
                        <input type="number" name="gram" min="1" value="100" id="getgram" /><br />
                        <select data-val="true" id="CustomProducts_Id" multiple="multiple">
                            @foreach (var cusproduct in ViewBag.CustomProducts)
                            {
                                <option value="@cusproduct.Id">@cusproduct.Name</option>
                            }
                        </select>
                    </div>

                    <script>
                        function ADDDEFAULT() {
                            document.querySelectorAll("input[name=custom]")[0].value = false;
                            document.querySelectorAll("#DefaultProducts_Id")[0].style.display = "initial";
                            document.querySelectorAll("#CustomProducts_Id")[0].style.display = "none";
                        }

                        function ADDCUSTOM() {
                            document.querySelectorAll("input[name=custom]")[0].value = true;
                            document.querySelectorAll("#DefaultProducts_Id")[0].style.display = "none";
                            document.querySelectorAll("#CustomProducts_Id")[0].style.display = "initial";
                        }

                        function DeleteProduct(id) {
                            $.ajax({
                                url: "/DeleteProduct?id=" + id,
                                success: function (response) {

                                    allCalories = response["allCalories"];
                                    caloriesNeeded = response["caloriesNeeded"];
                                    fats = response["fats"];
                                    protein = response["protein"];
                                    carbs = response["carbs"];
                                    document.getElementById("requiredCal").innerHTML = "Необходимые калории:" + caloriesNeeded;


                                    var data1 = google.visualization.arrayToDataTable([
                                        ['Task', 'Калории'],
                                        ['Требуемые калории', caloriesNeeded],
                                        ['Текущие калории', allCalories],
                                    ]);

                                    var options1 = {
                                        title: 'Калории',
                                        pieHole: 0.4,
                                    };

                                    var data2 = google.visualization.arrayToDataTable([
                                        ['Task', 'БЖУ соотношение'],
                                        ['Белки', protein],
                                        ['Жиры', fats],
                                        ['Углеводы', carbs],
                                    ]);

                                    var options2 = {
                                        title: 'БЖУ соотношение',
                                        is3D: true,
                                    };

                                    chart1 = new google.visualization.PieChart(document.getElementById('donutchart'));
                                    chart2 = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                                    chart1.draw(data1, options1);
                                    chart2.draw(data2, options2);
                                }
                            })
                            productTable.addEventListener('click', function (evt) {
                                if (evt.target.closest('.deleteRow')) {
                                    evt.target.closest('tr').remove()
                                }
                            })
                        }

                        function AddProduct() {
                            if (document.querySelectorAll("input[name=custom]")[0].value == 'true') {
                                var selectValue = document.getElementById("CustomProducts_Id").value;
                                var product = document.querySelectorAll("input[name=custom]")[0].value;
                            }
                            else {
                                var selectValue = document.getElementById("DefaultProducts_Id").value;
                                var product = document.querySelectorAll("input[name=custom]")[0].value;
                            }

                            var allCalories, caloriesNeeded, fats, protein, carbs;
                            var gram = document.getElementById("getgram").value;
                            $.ajax({
                                url: "/AddProduct?product=" + product + "&id=" + selectValue + "&g=" + gram,
                                success: function (response) {

                                    allCalories = response["allCalories"];
                                    caloriesNeeded = response["caloriesNeeded"];
                                    fats = response["fats"];
                                    protein = response["protein"];
                                    carbs = response["carbs"];
                                    document.getElementById("requiredCal").innerHTML = "Необходимые калории: " + caloriesNeeded;

                                    var data1 = google.visualization.arrayToDataTable([
                                        ['Task', 'Калории'],
                                        ['Требуемые калории', caloriesNeeded],
                                        ['Текущие калории', allCalories],
                                    ]);

                                    var options1 = {
                                        title: 'Калории',
                                        pieHole: 0.4,
                                    };

                                    var data2 = google.visualization.arrayToDataTable([
                                        ['Task', 'БЖУ соотношение'],
                                        ['Белки', protein],
                                        ['Жиры', fats],
                                        ['Углеводы', carbs],
                                    ]);

                                    var options2 = {
                                        title: 'БЖУ соотношение',
                                        is3D: true,
                                    };

                                    chart1 = new google.visualization.PieChart(document.getElementById('donutchart'));
                                    chart2 = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                                    chart1.draw(data1, options1);
                                    chart2.draw(data2, options2);

                                    $('#productTable').append('<tr><td>' +
                                        response["addName"] + '</td><td>' + gram +
                                        '</td><td>' + response["addCalories"] +
                                        '</td><td>' + response["addFats"] + '</td><td>'
                                        + response["addProtein"] + '</td><td>' + response["addCarbs"]
                                        + "</td><td class='deleteRow' onclick='DeleteProduct(" + response['addId'] + ")'> <a href='#'> Удалить </a></td></tr>");
                                }
                            })
                        }
                    </script>

                    <div class="modal-footer" style="color:black">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" id="productsAddButton" name="ProductsAddButton" class="btn btn-success" onclick="AddProduct()">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container center-block" style="background-color:rgb(255, 255, 255, 0.8); margin-top:30px ; border-radius:20px">
    <div class="col-sm-6">
        <div id="donutchart"></div>
    </div>
    <div class="col-sm-6">
        <div id="piechart_3d"></div>
    </div>
</div>