@model Lifestyle.Models.User
@{ 
    Layout = "~/Views/Shared/Layout_2.cshtml";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="container">

        <div class="container" style="background-color:rgb(0, 0, 0, 0.5); margin-top:30px ; border-radius:20px">
            <div class="lead text-center" style="margin-bottom: 16px;">
                <p>
                    Email:  @Html.DisplayFor(model => model.Email)
                </p>
                <p>
                    Имя:  @Html.DisplayFor(model => model.Name)
                </p>
                <p>
                    Пол: @ViewData["Sex"]
                </p>
                <p>
                    Рост:  @ViewData["Height"]
                </p>
                <p>
                    Вес:  @ViewData["Weight"]
                </p>
            </div>
        </div>
    </div>



}
