@model Lifestyle.Models.User


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="container">

        <div class="container" style="background-color:rgb(0, 0, 0, 0.5); margin-top:30px ; border-radius:20px">
            <div class="lead text-center" style="margin-bottom: 16px;">
                <p>
                    Email:  @Html.DisplayFor(model => model.Email)
                </p>
                <p>
                    Имя:  @Html.DisplayFor(model => model.Name)
                </p>
                <p>
                    Пол: @ViewBag.S
                </p>
                <p>
                    Рост:  @ViewBag.H
                </p>
                <p>
                    Вес:  @ViewBag.W
                </p>
            </div>
        </div>
    </div>



}
